.e__box{
    width: 550px;
    height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 2rem;
    background: url(../../assets/team.jpg), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.e__box-content{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; */
    color: #fff;
}

.e__box-content h1{
    font-weight: bold;
    margin-bottom: 10px;
}

.note{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

.btns{
    display: flex;
    flex-direction: row;
}

.btns p{
    width: 20%;
    padding: 0.5rem;
    color: #fff;
    font-size: 14px;
    margin-top: 0 2rem 2rem;
    margin-right: 10px;
    border: none;
    border-radius: 150px 150px 150px 150px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: #960000;
    text-align: center;
}

@media screen and (max-width: 950px){
    .e__box{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 650px){
    .e__box{
        width: 320px;
        height: 250px;
    }
}